.app {
  padding: 80px 0;
  border: 5px solid black;
  text-align: center;
  background: rgb(192,192,192, 0.2);
  margin-left: 500px;
  margin-right: 500px;
  
}
.app__header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -50px;
}

.app__input {
  text-align: center;
  font-size: 18px;
  height: 20px;
}
input {
  font-size: 18px;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.app__list {
  text-align: center;

}

ul {
  list-style: none;
  margin-top: 20px;
}
li {
  margin-top: 10px;
  font-size: 18px;
}

.delete__button {
  font-size: 10px;
  margin-left: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.add__button {
  font-size: 18px;
  border: none;
  
}
